@page
@model EventsProject.Pages.MyEventsModel
@{
    ViewData["Title"] = "MyEvents";
}

<h3 class="text-light">MyEvents</h3>

<table class="table text-light">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
               Date
            </th>
            <th>
                Address
            </th>
            <th>
                Place
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="/Avboka" asp-route-id="" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>