@page
@model EventsProject.Pages.MyEventsModel
@{
    ViewData["Title"] = "MyEvents";
}

<h3 class="text-light">MyEvents</h3>

<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Organizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Event)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organizer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>